body
    {background-color: black;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
h1{
    color: white;
    font-size: 50px;
    /*font-family: "Verdana";*/
}
a
{
    color:aquamarine;
    font-size: 16px;

}
/*.player{
height: 600px;
width: auto;
}
video{
    align-items: center;
    height: 100%;
    width: 100%;
   
}*/